.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.formElement{
  border-style: groove;
  border-width: 1px;
  margin:auto;
  position: relative;
  width: 400px;
  padding: 5px;
  background-color: darkslategray;
  border-radius: 15px;
}

.formInput{
  margin: 5px;
  width: 150px;
  border-radius: 5px;
}

.formLabel{
  font-size: small;
  color: white;
}

.btn{
  background-color:black;
  color: white;
  border-style: groove;
  border-radius: 10px;
  padding: 10px;
  font-size: 10px;
  width: 150px;
}

.btn:hover{
  background-color:white;
  color: black;
}

.tbl{
  width: 300px;
  height: auto;
  margin:auto;
  position: relative;
  border-style: ridge;
  border-width: 3px;
  border-color: rgb(16, 24, 23);
  margin-top: 5px;
  padding:5px;
  border-radius: 10px;
  background-color: rgb(27, 122, 0);
  color: white;
}

.btn-delete{
  background-color:rgb(134, 86, 86);
  color: white;
  border-style: groove;
  border-radius: 10px;
  font-weight: bold;
  width: 100px;
  height: 25px;
}

.btn-delete:hover{
  background-color:white;
  color: red;
}

.head{
  font-weight: bold;
}